.terraform/
.terraform*

*.log
*-logs.tar.gz
generated/log-

terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup

terraform-plan-*.out

etc/bluedata_infra.tfvars
etc/port_forwards.sh

public-ip-gateway.txt
post_provision_steps.sh
controller_rsa.prv
hostdetails.txt
controller.prv_key
output.json
generated/
tmp/
log/
.DS_Store
bluedata_infra_main_bigip.tf
etc/postcreate.sh

credentials-velero
velero-policy.json
