.terraform/
.terraform*

terraform.tfstate
terraform.tfstate.backup

etc/bluedata_infra.tfvars
public-ip-gateway.txt
post_provision_steps.sh
controller_rsa.prv
hostdetails.txt
controller.prv_key
output.json
generated/
tmp/
log/
.DS_Store
