#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Github Project Page
Type=Link
URL=https://github.com/hpe-container-platform-community/hcp-demo-env-aws-terraform
Icon=firefox
Exec=firefox -private-window