#!/usr/bin/env xdg-open
[Desktop Entry]
Name=MAPR Admin Password
GenericName=MAPR Admin Password
Exec=mate-terminal --working-directory="/home/ubuntu/"  --command "ssh controller cat /opt/bluedata/mapr/conf/mapr-admin-pass; bash"
Icon=utilities-terminal
Type=Application
Terminal=false
Categories=System;GTK;Utility;TerminalEmulator;
StartupNotify=true
Keywords=MATE;terminal;shell;prompt;command;commandline;